<!DOCTYPE html>
<html>
  <head>
    <title>wire frame</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <img src="http://placehold.it/200x70">
      </div>
      <h1 class="title">Learning Journals</h1>
    </header>
    <h2>Edit Entry</h2>
    <section class="input">
      <h3>Title</h3>
      <input type="text" name="title" value="12/5/16 Joey DeRosa Learning Journal Day1">
      <h3>Body</h3>
      <textarea rows='20' cols='150'>
        Today was an easy introduction day. While nothing major was taught we were introduced to some cool tools. Virtual environments and compilers such a ipython are new and interesting tools that I am excited to use. Also I have decided to switch from atom to sublime if I can ever get my laptop to work again.
      </textarea>
    </section>
  </body>
</html>
