<!DOCTYPE html>
<html>
  <head>
    <title>wire frame</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <img src="http://placehold.it/200x70">
      </div>
      <h1 class="title">Learning Journals</h1>
    </header>
    <section>
      <ul>
        <li class="entry">Entry</li>
        <li class="entry">Entry</li>
        <li class="entry">Entry</li>
        <li class="entry">Entry</li>
        <li class="entry">Entry</li>
        <li class="entry">Entry</li>
      </ul>
    </section>
  </body>
</html>
