{% extends "layout.jinja2" %}
  {% block body %}
    <section class="input">
      <h2>New Entry</h2>
      <h3>Title</h3>
      <input type="text" name="title">
      <h3>Body</h3>
      <textarea rows='20' cols='150'></textarea>
    </section>
  {% endblock %}

